<% include ./partials/header %>

<div class='container'>
  <h1>Welcome to CampPicker</h1>
  <a href="/campgrounds">View All Camps</a>
  <div></div>
  <img class="background-image" src="/img/oivhemfo-kk-andrew-scofield.jpg" alt="">

  <div class="credit">photograph by Andrew Scofield (unsplash.com)</div>
</div>

<% include ./partials/footer %>