<% include ./partials/header %>

<div class='container form-inline'>
  <h1>Sign up</h1>
  <form action="/register" method="POST">
    <input class="form-control" type="text" name="username" placeholder="username">
    <input class="form-control" type="password" name="password" placeholder="password">
    <button class="btn btn-default">Register</button>
  </form>
</div>

<% include ./partials/footer %>