.thumbnail img{
  width: 100%;
  /*min-height: 260px;*/
}

.thumbnail{
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.thumbnail .caption-full{
  padding: 9px;
}

#delete-form{
  display: inline;
}

.background-image{
  width: 100%;
}

.notes {
  color: #5b5f66
}